<a href="https://colab.research.google.com/github/patty-gz02/Colaboratory/blob/main/IntroPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Introduccion a Python</h1>
<texto>Python es un lenguaje de programación poderoso y versátil que se usa ampliamente en diversos campos, desde el desarrollo web y ciencia de datos hasta el análisis de automatización y negocios.</texto>
En el ámbito de Python y Colab, la elección de librerías depende en gran medida de las tareas y objetivos específicos que se persigan. Sin embargo, existen algunas librerías que se consideran esenciales o altamente recomendadas debido a su versatilidad y amplia aplicación:

1. NumPy: Una biblioteca fundamental para el cálculo numérico y el manejo de matrices multidimensionales. Es crucial para el análisis de datos, la ciencia de datos y el aprendizaje automático.

2. Pandas: Una biblioteca especializada en el análisis y manipulación de datos tabulares. Ofrece funciones para trabajar con DataFrames, series temporales y operaciones de limpieza y preprocesamiento de datos.

3. Matplotlib: Una biblioteca para la creación de visualizaciones de datos, incluyendo gráficos, diagramas y figuras. Es esencial para comunicar resultados de forma clara y efectiva.

4. Seaborn: Una biblioteca basada en Matplotlib que facilita la creación de visualizaciones de datos estadísticos de alta calidad con un estilo atractivo.

5. Scikit-learn: Una biblioteca de aprendizaje automático ampliamente utilizada que proporciona algoritmos para clasificación, regresión, agrupamiento y otras tareas de análisis predictivo.

#Tipos de datos
Python tiene varios tipos de datos básicos para representar información, como números enteros (int), números de punto flotante (float), cadenas de texto (str) y valores booleanos (True/False).

* Variables: Las variables se utilizan para almacenar valores en la memoria de la computadora. Le das un nombre a la variable y le asignas un valor.

* Operadores: Python tiene operadores aritméticos, de comparación, lógicos y de asignación para realizar cálculos y manipular datos.
Sentencias de control: Las sentencias de control, como if, else y for, te permiten controlar el flujo de tu programa.

In [ ]:
#Enteros
edad = 25
cantidad_productos = 10
numero_telefono = 1234567890

In [ ]:
#Flotantes
precio_producto = 19.99
altura_persona = 1.75
pi = 3.14159

In [ ]:
#Cadena de caracteres
nombre = "Ana"
direccion = "Calle Principal, 123"
mensaje = "¡Hola, mundo!"

In [ ]:
#Boleanos
es_mayor_de_edad = True
tiene_descuento = False

In [ ]:
#Listas
numeros = [1, 2, 3, 4, 5]
nombres = ["Juan", "María", "Pedro"]
mezcla = [10, "Manzana", True]

In [ ]:
#Diccionarios
persona = {"nombre": "Carlos", "edad": 30, "ciudad": "Lima"}
producto = {"nombre": "Camiseta", "precio": 29.99, "stock": 50}

#Operador de concatenacion
El operador de concatenación en Python se utiliza para unir o combinar cadenas de texto.
 Puedes usar el símbolo "+" para concatenar dos o más cadenas.

In [ ]:
x='Mate'
y='matica'
z=x+y
z

'Matematica'

In [ ]:
z='La '+z
z

'La Matematica'

In [ ]:
r='e' in z
r

True

In [ ]:
# Ejercicio:
# Escribe un programa que tome dos cadenas de texto como entrada y las concatene.
# Luego, muestra la cadena resultante.

def main():
    # Solicita al usuario que ingrese dos cadenas
    cadena1 = input("Ingresa la primera cadena: ")
    cadena2 = input("Ingresa la segunda cadena: ")

    # Concatena las cadenas
    resultado = cadena1 + " " + cadena2

    # Muestra el resultado
    print("La concatenación de las cadenas es:", resultado)

if __name__ == "__main__":
    main()

Ingresa la primera cadena: hola
Ingresa la segunda cadena: adios
La concatenación de las cadenas es: hola adios

#Conversion entre tipos de datos

In [ ]:
a=73
b=float(a)
c=str(a)
print("\n",a,"\n",b,"\n",c)

 73
 73.0
 73

In [ ]:
print(type(a),"\n",type(b),"\n",type(c))

 <class 'int'>
 <class 'float'>
 <class 'str'>

In [ ]:
x=5
z=complex(x)
z

(5+0j)

In [ ]:
print(type(z))

<class 'complex'>

In [ ]:
u=2+3j
a=u.real
b=u.imag
print("\n",u,"\n",a,"\n",b)

 (2+3j)
 2.0
 3.0

In [ ]:
print(type(u),"\n",type(a),"\n",type(b))

<class 'complex'>
 <class 'float'>
 <class 'float'>

In [ ]:
a=75
b=chr(a) #codigo entero ASCII
print(a,"\n",b)

75
 K

#Variables y aritmética básica

In [ ]:
a = 10
b = 5

print("Sumo a+b:", a+b)
print("Resto a-b:", a-b)
print("Multiplico a*b:", a*b)
print("Divido b/a:", b/a)
print("División entera a//b:", a//b)
print("Resto de división a%b:", a%b)
print("Comparo a>b:", a>b)
print("Comparo a==b:", a==b)
print("Comparo a<=b:", a<=b)

Sumo a+b: 15
Resto a-b: 5
Multiplico a*b: 50
Divido b/a: 0.5
División entera a//b: 2
Resto de división a%b: 0
Comparo a>b: True
Comparo a==b: False
Comparo a<=b: False

#Ejercicios

In [ ]:
print("Hola, mundo!")

Hola, mundo!

In [ ]:
nombre = input("¿Cómo te llamas? ")
edad = int(input("¿Cuántos años tienes? "))
print(f"Hola {nombre}, ¡tienes {edad} años!")

¿Cómo te llamas? paty
¿Cuántos años tienes? 22
Hola paty, ¡tienes 22 años!

In [ ]:
base = float(input("Ingresa la base del triángulo: "))
altura = float(input("Ingresa la altura del triángulo: "))
area = (base * altura) / 2
print(f"El área del triángulo es: {area}")

Ingresa la base del triángulo: 2
Ingresa la altura del triángulo: 3
El área del triángulo es: 3.0

In [ ]:
grados_celsius = float(input("Ingresa la temperatura en grados Celsius: "))
grados_fahrenheit = (grados_celsius * 9/5) + 32
print(f"{grados_celsius} grados Celsius equivalen a {grados_fahrenheit} grados Fahrenheit.")

Ingresa la temperatura en grados Celsius: 12
12.0 grados Celsius equivalen a 53.6 grados Fahrenheit.

In [ ]:
import random

numero_secreto = random.randint(1, 100)

intentos = 0
while intentos < 5:
  intento = int(input("Ingresa un número entre 1 y 100: "))
  if intento == numero_secreto:
    print("¡Felicidades! Adivinaste el número secreto.")
    break
  elif intento < numero_secreto:
    print("El número secreto es mayor.")
  else:
    print("El número secreto es menor.")
  intentos += 1

if intentos == 5:
  print("Te quedaste sin intentos. El número secreto era:", numero_secreto)

Ingresa un número entre 1 y 100: 2
El número secreto es mayor.
Ingresa un número entre 1 y 100: 15
El número secreto es mayor.
Ingresa un número entre 1 y 100: 80
El número secreto es mayor.
Ingresa un número entre 1 y 100: 90
El número secreto es mayor.
Ingresa un número entre 1 y 100: 100
El número secreto es menor.
Te quedaste sin intentos. El número secreto era: 96